<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>Login</title>
</head>
<body>
  <%- include('partials/_header') %>

  <% if (typeof errorMessage !== 'undefined') { %>
  <p class="error"><%= errorMessage %></p>
  <% } %>
    <h1>Login</h1>
    <form method="POST" action="/login">
      <label>
        Email:
        <input type="text" name="email" placeholder="Email">
      </label>
      <label>
        Password:
        <input type="password" name="password" placeholder="Password">
      </label>
      <button type="submit">Login</button>
</body>
</html>